.DS_Store
TODOs.md
playground
*.log
test/temp
node_modules

*/build/admin-linux-x64
*/build/admin-win32-x64
*/public/apidoc
dist
apply
*/release
*/redcapBuild
*/resource/dist
*/app.zip
**/resource/main.js

CodeEngineApi.exe

**/release